node_modules
vendor
.env
.idea
.git
.gitignore
.gitattributes
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
public/build
public/hot
tests/
phpunit.xml
.editorconfig
.phpunit.result.cache
composer.phar
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore
